
@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    /* overflow-y: hidden; */
  }
  body {
    font-family: "poppins", sans-serif;
  }
}